* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to right, #f2f2f2, #ffffff);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 90vh;
}

h1 {
    color: #800000;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

p {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #555;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

label {
    color: #800000;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #800000;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
    border-color: #660000;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button[type="submit"] {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #800000;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #660000;
    transform: scale(1.05);
}

input[type="url"] {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #800000;
    border-radius: 6px;
    font-size: 1rem;
}

input[type="url"]:focus {
    border-color: #660000;
    outline: none;
}

input[type="text"][required],
input[type="email"][required],
input[type="password"][required],
input[type="file"][required],
select[required],
textarea[required] {
    border-color: #800000;
    background-color: #fff;
    cursor: pointer; /* Mostra que o campo é interativo */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus {
    border-color: #660000;
    outline: none;
    background-color: #fff; /* Garantir que o fundo se mantenha branco ao focar */
}

/* Para tela pequena (mobile) */
@media (max-width: 600px) {
    .container {
        padding: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    label {
        font-size: 1rem;
    }

    button[type="submit"] {
        font-size: 1rem;
    }
}
